
<ion-header>
<app-header [title]="'Minha Biblioteca'"></app-header>
  <ion-toolbar>
    <ion-title>{{ book?.title || 'Carregando...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="book; else loading">
  <img [src]="book.cover" alt="Capa do livro" style="height: auto;">
  <h2>{{ book?.title }}</h2>
  <p><strong>Autor:</strong> {{ book?.authors?.join(', ') }}</p>
  <p>{{ book?.description }}</p>
</ion-content>

<ng-template #loading>
  <ion-spinner name="crescent"></ion-spinner>
  <p>Carregando detalhes do livro...</p>
</ng-template>
